# Portas locais
USERS_API_PORT=5001
NOTIFICATIONS_API_PORT=5002
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
USERS_SQLSERVER_PORT=1433

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# SQL Server UsersAPI
USERS_SQLSERVER_PASSWORD=Fcg@123456
USERS_SQLSERVER_DATABASE=FiapCloudGamesUsers

# APIs
ASPNETCORE_ENVIRONMENT=Development
